.c1{
    color: white;


}
.c2{
    color: white;

}
.c3{
    color: white;

}
.main1{
    position: absolute;
    display: flex;
    gap: 10%;
    margin-left: 310px;
    margin-top: -220px;
}


.h{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: beige;
}
.he{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: bisque;
    white-space: nowrap;
}